@import './reset.css';
/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Black+Ops+One&family=Pangolin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
}

menu a {
  display: block;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    @apply text-red-800;
  }
}
